<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\..\public\assets\css\burger_style.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>

    <title>Burgerz</title>
</head>

<body>
    <header>
        <h1>BURGERZ</h1>
        <img src="../../public/assets/img/Burgerz.jpg" alt="burgers">
        <h2>Name them ....... Devour them</p>
    </header>

    <!-- {{{ body }}} -->



</body>

</html>